.account {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.profile {
  max-width: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid gray;
  padding: 10px;
}

.image {
  border-radius: 50%;
}

.profile_name {
  margin-left: 40px;
  text-transform: uppercase;
}

.point {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.point_current {
  font-size: 28px;
}

.point_number {
  font-size: 90px;
  font-weight: bold;
  margin-top: 40px;
}

.point_is {
  font-size: 21px;
  margin-top: 40px;
}
