.home {
  background-color: #ff9a9a;
}

.container {
  width: 100%;
  max-width: 340px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 100px 0;
}

.home_message {
  background-color: white;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.home_title {
  line-height: 3.5em;
}

.setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.setting_list {
  line-height: 2.5em;
  padding-top: 10px;
}


.btn{
  margin-top: 30px;
  background-color: white;
  color: black;
  padding: 10px 40px;
  border-radius: 20px;
  font-weight: bold;
}

.rules_btn{
  font-size: 10px;
  color: #0F74FF;
  margin-top: 4px;
}